{% extends 'base.html' %}

{% block body %}

{% if query %}

{% include 'datas.html' %}
{% else %}
<div class="container-fluid">
    <h1>{{catagoryname}}</h1>
    <div>

        {% if catagoryname == 'organic' %}
        <a href="{% url 'organic:add' %}">
            <button class="btn btn-success">add data</button>
        </a>


        {% elif catagoryname == 'inorganic' %}
        <a href="{% url 'inorganic:add'  %}">
            <button class="btn btn-success">add data</button>

        </a>

        {% elif catagoryname == 'solvents' %}
        <a href="{% url 'solvents:add' %}">
            <button class="btn btn-success">add data</button>

        </a>
        {% endif %}

        </a>
    </div>

</div>
{% include 'searchresults.html' %}
{% endif %}
{% endblock %}