{% extends 'base.html' %}

{% block body %}
<h2>are you want to delete:{{compound}}</h2>
<form action="" method="post">
    {% csrf_token %}
    <button type="submit">delete</button>
</form>
{% if catagoryname == 'organic' %}
<a href="{% url 'organic:organic' %}">
    <button>back</button>
</a>

{% elif catagoryname == 'inorganic' %}
<a href="{% url 'inorganic:inorganic'  %}">
    <button>back</button>
</a>

{% elif catagoryname == 'solvents' %}
<a href="{% url 'solvents:solvents'  %}">
    <button>back</button>
</a>

{% endif %}
{% endblock %}